<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>刪除成功頁面</title>
    <style>
      a.create {
        text-decoration: none;
        font-weight: bold;
        color: darkgreen;
        background-color: bisque;
        border: 2px solid white;
        border-radius: 10px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h1 style="color: red">資料刪除成功！</h1>
    <br />
    <a href="/planets" class="create">返回首頁</a>
  </body>
</html>
