<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>錯誤</title>
    <style>
      a {
        font-weight: bold;
        color: rgb(192, 6, 6);
      }
    </style>
  </head>
  <body>
    <h1>404 Error</h1>
    <h2>請找吳工程師</h2>
    <br />
    <a href="/planets">返回首頁</a>
  </body>
</html>
